body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fafafa;
}

/* CENTER LOGIN */
.center-page {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.login-box {
  background: white;
  padding: 30px;
  width: 320px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.login-box input {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

button {
  padding: 10px 16px;
  border: none;
  background: #0070bc;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.error {
  color: red;
  text-align: center;
  min-height: 20px;
}

/* DASHBOARD */
.topbar {
  background: white;
  padding: 15px 20px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logout {
  background: #e95454;
}

.box {
  max-width: 900px;
  margin: 20px auto;
  background: white;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.controls {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}

.controls input {
  width: 60%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #eee;
}

th {
  background: #f2f2f2;
  cursor: pointer;
}

.pagination {
  margin-top: 12px;
  text-align: center;
}